header, main, footer{
    height: 50px;
    width: 100%;
}

#menu ul{
    background-color: lightgrey;
    list-style-type: none;
    display: inline-block;
}

.menuSecundario{
    display: inline-block;
}

main{
    background-color: lightblue;
}

#tabuleiro{
    width: 100%;
    background-color: lightgreen;
    display: block;
    margin: 30px auto 30px auto;
}
#campoResultado{
    width: 100%;
    height: 10vw;
    text-align: center;
}

#resultado{
    font-size: 6vw;
    padding: 1vw;
}

.carta{
    display: block;
    margin: 0 auto 20px auto;
}

.nomeCarta, .imagemCarta, .statusCarta{
    width: 75vw;
    font-size: 4vw;
}

.nomeCarta{
    height: 5vw;
    background-color: black;
    border: solid black 1vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    margin: auto;
    color: white;
    text-align: center;
}

.imagemCarta{
    height: 100vw;
    border: solid black;
    border-width:  0 1vw;
    margin: auto;
    background-image: url(https://pbs.twimg.com/media/EsKxVLjXIAANrRn?format=jpg&name=large);
    background-size: 75vw auto;
    background-position: center;
}

.statusCarta{
    
    border: solid black;
    border-width: 0.5vw 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    margin: auto;
    background-color: black;
    text-align: center;
    color: white;
}

.statusRadio{
    display: none;
}

.statusLabel{
    display: block;
    border: solid white 0.5vw;
    border-radius: 1vw;
    padding: 1vw;
    margin: 1vw 0 1vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.statusRadio:checked + label{
    background-color: white;
    color: black;
}

#btnSortear{
    height: 100vw;
    width: 75vw;
    background: none;
    border: none;
    font-size: 40vw;
    color: white;
}

#btnJogarNovamente{
    display: block;
    margin: 2vw auto 2vw auto;
    font-size: 4vw;
}

/*#cartaJogador, #cartaMaquina{
    height: 250px;
    width: auto;
    background-size: 175px auto;
    background-repeat: no-repeat;
    display: flex;
    padding-bottom: 20px;
}*/